<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NAD_BlackJack_Server.Properties.Settings.BlackJackDBConnectionString"
            connectionString="Driver={SQL Server Native Client 11.0};server=tcp:nad-server.database.windows.net,1433;uid=McQErb@nad-server;pwd=ConnorBrandon1;app=Microsoft® Visual Studio® 2015;wsid=ORIGIN-PC;database=BlackJackDB;encrypt=yes"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>